.vscode/
__pycache__
build/
libhopper.egg-info/

*.tar.gz
*.bak
*.test
*.out
*.pyc
*.dump
.gdb_history

# Some output of the library tests
# libz
foo.gz
# libbz2
sample1.rb2
# libpng
pngout.png
# libxml2
test.out